In [5]:
import geopy
dir(geopy.geocoders)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GeocoderNotFound',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'NaviData',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'SERVICE_TO_GEOCODER',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'arcgis',
 'baidu',
 'base',
 'bing',
 'databc',
 'dot_us',
 'geocodefarm',
 'geonames',
 'get_geocoder_for_service',
 'googlev3',
 'ignfrance',
 'navidata',
 'opencage',
 'openmapquest',
 'osm',
 'photon',
 'placefinder',
 'smartystreets',
 'what3words',
 'yandex']

In [42]:
from geopy.geocoders import Nominatim
nom=Nominatim(scheme="http")     #create Nominatim object called nom

In [9]:
import pandas
df=pandas.read_csv("supermarkets.csv")

In [29]:
df["Concatenated"]=df["Address"]+","+df["City"]+", ,"+df["State"]+","+df["Country"]+"," #concatenate full address to new column 
# Nominatim.geocode method takes comma separated full address as argument

In [30]:
df

,ID,Address,City,State,Country,Name,Employees,Concatenated
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco, ,CA 94114,USA,"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco, ,CA 94119,USA,"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco, ,California 94114,USA,"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco, ,CA 94114,USA,"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco, ,California,USA,"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco, ,CA 94114,USA,"

In [43]:
df["Coordinates"]=df["Concatenated"].apply(nom.geocode) #.apply is panda method which applies .geocode method to all rows in dataFrame.

In [44]:
df # Coordinates has now location object for all existing addresses

,ID,Address,City,State,Country,Name,Employees,Concatenated,Coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco, ,CA 94114,USA,","(21st Street, Mission District, SF, California..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco, ,CA 94119,USA,",None
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco, ,California 94114,USA,","(Hill Street, Liberty Street Historic District..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco, ,CA 94114,USA,","(3995, 23rd Street, Noe Valley, SF, California..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco, ,California,USA,","(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco, ,CA 94114,USA,","(Alvarado Street, Noe Valley, SF, California, ..."

In [45]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude) #x is temporary variable. this give error cos there is row with NoneType object (coordinates wasn't found for address)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [48]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x != None else None) #Add condition, apply .latitude method to x if x NOT None
df

,ID,Address,City,State,Country,Name,Employees,Concatenated,Coordinates,Latitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco, ,CA 94114,USA,","(21st Street, Mission District, SF, California...",37.757051
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco, ,CA 94119,USA,",None,NaN
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco, ,California 94114,USA,","(Hill Street, Liberty Street Historic District...",37.756102
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco, ,CA 94114,USA,","(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco, ,California,USA,","(Sanchez Street, Noe Valley, SF, California, 9...",37.748362
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco, ,CA 94114,USA,","(Alvarado Street, Noe Valley, SF, California, ...",37.753666

In [50]:
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x != None else None) #same for the longitude
df

,ID,Address,City,State,Country,Name,Employees,Concatenated,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco, ,CA 94114,USA,","(21st Street, Mission District, SF, California...",37.757051,-122.418804
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco, ,CA 94119,USA,",None,NaN,NaN
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco, ,California 94114,USA,","(Hill Street, Liberty Street Historic District...",37.756102,-122.421041
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco, ,CA 94114,USA,","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco, ,California,USA,","(Sanchez Street, Noe Valley, SF, California, 9...",37.748362,-122.429346
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco, ,CA 94114,USA,","(Alvarado Street, Noe Valley, SF, California, ...",37.753666,-122.434440

In [66]:
map_centre=nom.geocode("Helsinki")
type(map_centre)

geopy.location.Location

In [69]:
mylist = [map_centre.latitude , map_centre.longitude]
mylist

[60.1674086, 24.9425683]